<!DOCTYPE html>
<html>

    <head>
        <title>Sign In</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous">
        </script>
    </head>

    <body>
        <div class="login-page">
            <div class="form">
                <img src="{{ url_for('static',filename='img/Logo.png') }}" alt="Logo" class="logo">
                <h1>Pollr</h1>
                <form class="login-form" id="login-form" action="/dashboard" method="post">
                    <input type="text" name="username" placeholder="Username" />
                    <input type="password" name="password" placeholder="Password" />
                    <button>Sign In</button>
                    <p class="message">Don't have an account? <span><b><a href="#">Sign Up</a></b></span></p>
                </form>
                <form class="register-form" id="register-form" action="javascript:register()">
                    <input type="text" name="fullName" placeholder="Full Name" id="fullName"/>
                    <input type="email" name="email" placeholder="Email" id="email"/>
                    <input type="text" name="username" placeholder="Username" id="username"/>
                    <input type="number" name="zip" placeholder="ZIP Code" id="zip"/>
                    <input type="password" name="username" placeholder="Password" id="password"/>
                    <input type="password" placeholder="Confirm Password" id="confirmPassword"/>
                    <button type="submit">register</button>
                    <p class="message">Already registered? <b><a href="#">Sign In</a></b></p>
                </form>
            </div>
        </div>
    </body>

            <script src="{{url_for('static', filename='js/form.js')}}"></script>

</html>
